* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.cabecalho1{
  margin: 20px;
  height: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: row;
  float: left;
}

.cabecalho2{
  margin: 20px;
  height: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  flex-direction: row;
  float: right;
  }

.principal{
  border-top: 2px solid #eee;
  height: 800px;
  width: 70%;
  margin: 0 250px 180px;
  clear: both;
  background-color: #0000000F;  
  }

.busca1{
  background-color: #2BCBBA;
  height: 65px;
  margin-top: 40px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
}

input{
  border-radius: 15px;
  height: 30px;
  width: 200px;
}

.central{
  margin: 50px 90px 130px;
  background-color: #FFF;
  height: 565px;
}

.esquerda{
  border: 1px solid black;
  float: left;
  height: 100%;
  width: 55%;
}

.direita{
  border: 1px solid blue;
  float: right;
  height: 100%;
  width: 45%;
}


.rodape{  
  height: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
}

.adobe{
  font-size: 12px;
}










