* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  border: 2px solid red;
}

.cabecalho{
  border: 1px solid red;
  height: 80px;

}

.rodape{
  
  border: 1px solid red;
}






