* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.cabecalho{
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.cabecalho1{
  list-style: none;
  margin: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.cabecalho2{
  list-style: none;
  margin: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  }

.container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.principal{
  height: 900px;
  width: 70%;  
  margin-top: 30px;
  background-color: #0000000F; 
  }

.busca1{
  background-color: #2BCBBA;
  list-style: none;
  height: 70px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.climao{
  margin-left: 70px;
  font-size: 22px;
}


input{
  border-radius: 15px;
  margin-right: 50px;
  padding: 10px;
  height: 30px;
  width: 250px;  
}


.central{
  margin: 50px 90px 130px;
  background-color: #FFF;
  height: 565px;
}

.esquerda{
  border: 1px solid black;
  float: left;
  height: 100%;
  width: 55%;
}

.direita{
  background-color: #0000000F; 
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dias{
  list-style: none;  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.azul{
  height: 99px;
  width: 470px;
  background-color: blue;
}

.laranja{
  height: 99px;
  width: 470px;
  margin-top: 15px;
  background-color: orange;
}

.verde{
  height: 99px;
  width: 470px;
  margin-top: 15px;
  background-color: green;
}

.roxo{
  height: 99px;
  width: 470px;
  margin-top: 15px;
  background-color: purple;
}

.vermelho{
  height: 99px;
  width: 470px;
  margin-top: 15px;
  background-color: rgb(221, 21, 21);
}

.rodape{  
  height: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
}

.adobe{
  font-size: 12px;
}










